# Logs logs *.log npm-debug.log* yarn-debug.log* # Diagnostic reports report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json # Runtime data pids *.pid *.seed *.pid.lock # Coverage directory coverage .nyc_output # Dependency directories node_modules/ jspm_packages/ # environment variables .env .env.test # cache and data output data/ *.json !package.json !package-lock.json # Mac OS files .DS_Store
